.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-std {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-std > * {
  flex: 1;
}

.service-brand {
  height: 250px;
  width: auto;
}

.event, .column-headers {
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
}
.event:nth-child(even){
  background-color: #eee;
}
.user {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
}
.user .avatar {
  width: 2.4em;
  height: auto;
}
.cell {
  flex: 1;
  text-align: left;
}
.details {
  flex: 8;
}
.additions, .passed { color: green }
.pending { color: yellow }
.deletions, .failed { color: red }

header, footer {
  background-color: #222;
  color: white;
}

header { height: 85px }
footer { height: 35px }
main { flex: 1 }
