.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-std {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-std > * {
  flex: 1;
}

.service-brand {
  height: 250px;
  width: auto;
}

.event {
  padding: 1em;
  background-color: #eee;
}
.event:nth-child(even){
  background-color: #ccc;
}
.event .avatar {
  width: 2em;
  height: auto;
}
.additions { color: green }
.deletions { color: red }

header, footer {
  background-color: #222;
  color: white;
}

header { height: 85px }
footer { height: 35px }
main { flex: 1 }
