body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.flex-std {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-std > * {
  flex: 1;
}

.service-brand {
  height: 250px;
  width: auto;
}

.column-headers {
  display: flex;
  align-items: center;
}

.event {
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
}
.event:nth-child(even){
  background-color: #eee;
}
.cell {
  flex: 1;
  border-left: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  flex: 8;
  padding-right: 2em;
}
.details b {
  margin: 0 1em;
  flex: 1;
}
.details a, .details p, .details button {
  flex: 3;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  text-decoration: none;
  color: inherit;
}
.avatar {
  width: 2.4em;
  height: auto;
}
.additions, .passed { color: green }
.pending { color: yellow }
.deletions, .failed { color: #f22 }

header, footer {
  background-color: #222;
  color: white;
}

h1 > a {
  color: white;
  text-decoration: none;
}

header { height: 85px }
footer { height: 35px }
main { flex: 1 }
